%h1{style: 'font-size:32px;'}
  トップページ（仮）
  .Login_which_one__first_time_use{style: 'color: white;text-align:right;'}
    無料会員登録
    
    =link_to 'ログイン',new_user_session_path, class:"test",style:'text-decoration: none;color: white;margin:0px 30px;'

//会員登録画面    
=render("devise/sessions/member_registration")
=render("devise/sessions/new_address")