.profile-clicked{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color:rgba($color: #fff, $alpha: 0.7);
  &__wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__contents{
      width: 620px;
      border: 1px solid black;
      background: linear-gradient(#ffffff, #ececec);
      border: 2px solid #e7e7e7;
      &__content{
        width: 100%;
        &__details{
          word-break: break-all;
          &__detail {
            display: flex;
            justify-content: space-around;
            li {
              color: #333;
              padding: 10px 20px;
              border: 2px solid #e7e7e7;
              cursor: pointer;
              list-style: none;
              transition: .3s;
              display: inline-block;
              font-size: 14px;
              width: 100%;
              margin: -2px -1px 0 -1px;
            }
            li.active {
              color: #333;
              font-weight: bold;
              font-size: 20px;
              cursor: pointer;
              border-bottom: none;
            }
            
          } 
          &__contents ul {
            display: none;
          }
          &__contents ul.show {
            display: block;
            li{
              display: flex;
              margin-top: 5px;
              margin-bottom: 5px;
              margin-left: 80px;
              position: relative;
              line-height: 50px;
              align-items: center;
              font-weight: bold;
              
              input{
                border: 2px solid #e7e7e7;
                width: 300px;
                position: absolute;
                right: 50px;
                color: #7F7F7F;
                font-weight: lighter;
              }
              textarea{
                height: 100px;
                border: 2px solid #e7e7e7;
                width: 300px;
                position: absolute;
                right: 50px;
                color: #7F7F7F;
                font-weight: lighter
              }
              select{
                border: 2px solid #e7e7e7;
                width: 300px;
                position: absolute;
                right: 50px;
                height: 30px;
                font-weight: lighter
              }
              
            }
            li.intro{
              line-height: 100px;
            }
          }
        }
      }
    }
  }
}

.form-title{
  font-size: 30px;
  border-bottom: 3px solid #d8d8d8;
  font-weight: bold;
  color: #808080;
}
.form-content{
  font-size: 40px;
  &__number{
    color: #646464;
    text-align: center;
  }
  &__date{
    color: #646464;
    font-size: 30px;
    margin-left: 30px;
    font-weight: bold;
    position: relative;
  }
  p{
    font-size: 20px;
    color: #808080;
    font-weight: bold;
  }
  button.delete-btn{
    border: 4px solid #d8d8d8;
    line-height: 30px;
    padding: 5px 20px;
    font-size: 20px;
    color: white;
    background: linear-gradient(#FF5192, #FF0000);
    border-radius: 10px;
    font-weight: bold;
    position: absolute;
    right: -240px;
    bottom: -100px;
  }
}
ul.profile-clicked__wrapper__contents__content__details__contents__card{
  padding: 40px;
  label{
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid #CCCCCC;
    color: #808080;
  }
  .require{
    font-size: 16px;
    background-color: red;
    color: white;
    margin-bottom: 10px;
    margin-right: 40px;
    border-radius: 4px;
    width: 50px;
    text-align: center;
    float: left;
  }
  
  input{
    margin-bottom: 20px;
    margin-left: 10px;
  }
  
  input.put{
    color: white;
    text-align: center;
    width: 500px;
    background: linear-gradient(#FF5192, #FF0000);
    border: none;
    line-height: 50px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
  }
  select{
    margin-left: 10px;
    height: 30px;
  }
}

.actions{
  display: flex;
  justify-content: center;
}

.action{
  width: 100%;
  display: flex;
  justify-content: center;
  input{
    color: #00BFFF;
    padding: 5px 40px;
    font-size: 20px;
    background: linear-gradient(#CCFFFF, #5ecee6);
    width: 80%;
    display: inline-block;
    margin: 10px auto;
    cursor: pointer;
    border: none;
    font-weight: bold;
    letter-spacing: 10px;
    text-shadow    : 
    2px  2px 1px #FFFFFF,
   -2px  2px 1px #FFFFFF,
    2px -2px 1px #FFFFFF,
   -2px -2px 1px #FFFFFF,
    2px  0px 1px #FFFFFF,
    0px  2px 1px #FFFFFF,
   -2px  0px 1px #FFFFFF,
    0px -2px 1px #FFFFFF;  
  }
}
.actions2{
  width: 100%;
  display: flex;
  justify-content: center;
  a{
    color: #646166;
    padding: 5px 40px;
    font-size: 20px;
    background: linear-gradient(#ffffff, #CCCCCC);
    border-radius: 8px;
    display: inline-block;
    margin: 10px auto;
    cursor: pointer;
  }
}