* {
  box-sizing: border-box;
}

//---共通処理---//
// 画像
@mixin Product_image($width, $height) {
  width: $width;
  height: $height;
  object-fit: cover;
  vertical-align: bottom;
}

// ボタン
@mixin Product_btn($color, $font-size, $padding, $margin-top, $border-color, $border-radius) {
  color: $color;
  font-size: $font-size;
  padding: $padding;
  margin-top: $margin-top;
  border: 1px solid $border-color;
  border-radius: $border-radius;
}

// リンク
@mixin Product_link($color) {
  color: $color;
  text-decoration: none;
}

//---共通処理ここまで---//

// パンくずリスト
.breadcrumbs {
  // width: 100%;
  font-size: 13px;
  padding: 0 60px;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;

  .Category {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
    display: flex;
    padding: 17px 0;


    &__list {
      color: #333;
      padding-right: 10px;

      &--bold {
        font-weight: bold;
      }
    }


    &__link {
      @include Product_link(#333);
    }
    &__link:hover {
      color: #3ccace;
    }
  }
}

// メイン部分
.product_show_wrapper {
  background-color: #F8F8F8;
  padding: 40px;


  // 商品詳細
  .Product {
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
    padding: 24px 40px 40px;
   

    &__name {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
    }


    &__main {
      padding: 16px 30px 0;
    }
    &__main-image {
      @include Product_image(100%, 346px);
    }


    &__sub {
      display: flex;
      justify-content: center;
      margin-top: 10px;

      li {
        margin-left: 10px;
      }
    }
    &__sub-image {
      @include Product_image(140px, 87px);
    }


    &__price-box {
      text-align: center;
      margin: 24px;
    }
    &__price {
      font-size: 40px;
      font-weight: bold;
      margin-right: 10px;
    }


    &__explanation {
      font-size: 18px;
      margin-bottom: 30px;
      text-align: justify;
      text-justify: inter-ideograph;
    }


    &__table {
      table {
        width: 100%;
        margin-bottom: 20px;
        tr {
          font-size: 13px;
          th {
            width: 20%;
            text-align: center;
            padding: 8px;
            border: 1px solid #dedede;
            background-color: #eee;
          }
          td {
            width: 60%;
            padding: 15px;
            border: 1px solid #dedede;
            a {
              @include Product_link(#3ccace);
            }
          }
        }
      }
    }


    &__option {
      .Option {
        display: flex;
        justify-content: space-between;
        align-items: center;

        li:hover {
          opacity: 0.5;
        }

        &__like-btn {
          @include Product_btn(#3ccace, 16px, 6px 10px, 10px, #ffb340, 40px);
        }
        &__report-btn {
          @include Product_btn(#333, 14px, 6px 10px, 10px, #333, 4px);
          cursor: pointer;
        }

        &__link-wrapper {
          display: flex;
          align-items: center;
          p {
            margin-left: 3px;
          }
        }

        &__link--blue {
          @include Product_link(#3ccace);
        }
        &__link--black {
          @include Product_link(#333);
        }
      }
    }
  }


  // コメントフォーム
  .Comment {
    background-color: #fff;
    text-align: center;
    width: 700px;
    padding: 24px;
    margin: 10px auto;

    &__text-form {
      width: 100%;
      min-height: 100px;
      padding: 10px;
    }

    &__caution {
      font-size: 14px;
      text-align: left;
      padding: 8px;
      margin: 10px 0;
      background-color: #f8f8f8;
    }

    &__btn {
      @include Product_btn(#fff, 18px, 0, 14px, #3ccace, 100px);
      width: 60%;
      background-color: #3ccace;
      line-height: 48px;
    }
  }


  // 関連商品
  .Related {
    width: 700px;
    margin: 0 auto;


    &__links {
      display: flex;
      justify-content: space-between;
    }
    &__link {
      @include Product_link(#3ccace);
    }

    &__link-wrapper {
      display: flex;
      align-items: center;
      p {
        margin: 0 5px;
      }
    }


    &__more {
      margin: 24px 0 8px 0;
    }
    &__more-link {
      @include Product_link(#3ccace);
      font-size: 22px;
      font-weight: bold;
    }


    &__products {
      .Related-product:hover {
        opacity: 0.5;
      }

      .Related-product {
        width: calc(100% / 3);
        margin: 24px 0 8px 0;

        &__link {
          @include Product_link(#333);
        }

        &__head-img {
          @include Product_image(100%, 160px);
        }


        .Related-body {
          background-color: #fff;
          padding: 16px;

          &__name {
            margin-bottom: 5px;
          }

          &__details {
            font-weight: bold;

            ul {
              display: flex;
              justify-content: space-between;
              align-items: center;
            }

            p {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}
