* {
  box-sizing: border-box;
}

// 複数のプロパティを変数でまとめたものです。
@mixin LeftSecondContents {
  width: 116px;
  height: 116px;
  position: relative;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  text-align: center;
}

@mixin FixImage {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;

}

@mixin LeftThirdContentsBox {
  display:flex;
  align-items: center;
  width: 370px;
  height: 63px;
  background: #ffffff;
}

@mixin LeftThirdContentsSmallBox {
  display:flex;
  align-items: center;
  width: 50%;
  height: 63px;
  background: #ffffff;
  border: 1px solid #ececec;
}
@mixin One { 
  padding-left: 12px;
  padding-right: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #646166; 
}

@mixin Two {
  font-size: 12px;
  color: #646166;
  padding: 10px 10px 10px 15px;
}

@mixin Three {
  font-size: 12px;
  font-weight: bold;
  color: #646166;
}

@mixin MiddleBox {
  width: 82px;
  font-size: 14px;
  color: #646166;
  margin-left: 25px;
}

@mixin MiddleboxRight {
  text-align: left;
  font-size: 14px;
  color: #646166;
}

@mixin RightBox {
  display:flex;
  margin: 10px 0 20px 0;
  width: 110px;
  font-size: 10px;
  font-weight: bold;
  color: #b5b5b5;
  padding-top: 10px;
}

@mixin RightLine {
  display: flex;
  width: 480px;
  margin: 0 0 10px 0;
  padding-bottom: 10px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

@mixin RightWritten {
  border: none;
  text-align: left;
  width: 370px;
  background: #ffffff;
  font-size: 14px;
  font-weight: normal;
  padding-left: 14px;
}

@mixin RightThird {
  padding-right: 10px;
  width: 190px;
}

@mixin RightBorder {
  display: flex;
  width: 480px;
  border-bottom: 1px solid #ececec;
}

@mixin SubmitBox {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #ececec;
  background: linear-gradient(to bottom, #ffffff 0%,#ececec 100%);
  border-radius: 5px;
  color: #646166;
  padding: 5px 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

@mixin SelectBox {
  background: linear-gradient(to bottom, #ffffff 0%, #ececec 100%);
  border:none;
  color: #646166;
  width: 178px;
}

//削除ボタン（第１引数：位置 第２引数：padding縦 第３引数：padding横  第４引数：文字の大きさ ）
@mixin DeleteBtn($left,$height,$width,$font-size){
  position: absolute;
  z-index: 10;
  left: $left;
  border: 1px solid white;
  padding: $height $width;
  font-size: $font-size;
  color: white;
  background: #3CCACE;
  Cursor:pointer;
}

// ここからページコンテンツ

.Main_Container{
  background-color: #f6f6f7;
}

.Wrapper {
  width: 1060px!important;
  margin: 0 auto;
  padding: 30px 80px;
  min-height: 90%;
  color: #565656;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #f6f6f7;
}

.Top {
  display: flex;
  align-items: flex-end;
  h2 {
    font-size: 24px;
    font-weight: bold;
    color: #646166;
    margin-right: 50px;
  }
  p {
    // margin-top: 10px;
    font-size: 14px;
    color: #646166;
    margin-bottom: 1px;
  }
}

.WrapperContents {
  margin-top: 30px;
  display: flex;
  .LeftContents {
    width: 50vw;
    &__FirstContent {
      margin-bottom: 15px;
      width: 370px;
      &__img {
        
        width: 370px;
        height: 370px;
        border: 1px solid #3CCACE;
        display:flex;

        img{
          @include FixImage;
        }
      }

      input{
        display:none;
      }

      &__Delete_btn{
        @include DeleteBtn(553px,10px,30px,34px);  
      }
    }
    &__SecondContent {
      display: flex;
      width: 370px;

      input{
        display:none;
      }
      
      &__Left {
        @include LeftSecondContents;
        margin-right: 15px;

        &__img{

            img{
              position:absolute;
              @include FixImage
              }
        }

        &__Delete_btn{
          @include DeleteBtn(60px,0px,15px,24px);  
        }        
        
      }
      &__Center {
        @include LeftSecondContents;
        margin-right: 15px;

        &__img{

            img{
              position:absolute;
              @include FixImage
              }
        }


      }
      &__Right {
        @include LeftSecondContents;

        &__img{

            img{
              position:absolute;
              @include FixImage
            }
        }

      }
    }
    &__ThirdContent {
      width: 370px;
      margin: 80px 0 50px 0;
      &__Top{
        @include LeftThirdContentsBox;
        border: 1px solid #ececec;
        &__Left {
          display: table-cell;
          align-items: center;
          padding-left: 14px;
          padding-right: 14px;
          font-size: 14px;
          font-weight: bold;
          color: #646166;
        }
        &__Center {
          font-size: 14px;
          color: #646166;
          padding-right: 10px;
          input {
            border: none;
            text-align: right;
            width: 220px;
            height: 40px;
            padding-right: 10px;
          }
        }
        &__Right{
          font-size: 14px;
          font-weight: bold;
          color: #646166;
        }
      }
      &__Bottom {
        @include LeftThirdContentsBox;
        &__Left {
          @include LeftThirdContentsSmallBox;
          &__One {
            @include One;
          }
          &__Two {
            @include Two;
          }
          &__Three {
            @include Three;
          }
        }
        &__Right {
          @include LeftThirdContentsSmallBox;
          &__One {
            @include One;
          }
          &__Two {
            @include Two;
          }
          &__Three{
            @include Three;
          }
        }
      }
    }
    &__FourthContent {
      width: 370px;
      &__Top {
        font-size: 14px;
        padding-top: 20px 0 0;
        font-weight: bold;
        color: #b5b5b5;
        margin-bottom: 25px;
      }
      &__MiddleBox {
        
        &__Price {
          @include LeftThirdContentsBox;
          border: 1px solid #ececec;
          &__Left {
            @include MiddleBox;
          }
          &__Right {
            @include MiddleboxRight;
          }
        }
        &__Amount {
          @include LeftThirdContentsBox;
          border: 1px solid #ececec;
          &__Left {
            @include MiddleBox;
          }
          &__Right {
            @include MiddleboxRight;
          }
        }
        &__Personal {
          @include LeftThirdContentsBox;
          border: 1px solid #ececec;
          &__Left {
            @include MiddleBox;
          }
          &__Right {
            @include MiddleboxRight;
            @include SubmitBox;
          }
        }
      }
      &__Bottom {
        text-align: right;
        margin-top: 10px;
        font-size: 14px;
        font-weight: bold;
        color: #36c2e0;
        // text-decoration: none;
      }
    }
  }
  .Main__right {
    width: 50vw;
    &__FirstContent{
      @include RightLine;
      &__Left {
        margin: 10px 0;
        @include RightBox;
      }
      &__Right {
        margin-top: 10px;
        font-size: 14px;
        input {
          @include RightWritten;
          height: 40px;
        }
      }
    }
    &__SecondContent {
      display: flex;
      &__Left {
        @include RightBox;
      }
      &__Right {
        margin-top: 10px;
        margin-bottom: 12px;
        font-size: 14px;
        padding-right: 10px;
        textarea {
          @include RightWritten;
          height: 300px;
        }
      }
    }
    &__ThirdContent {
      padding-top: 15px;
      padding-bottom: 20px;
      &__Category {
        border-top: 1px solid #ececec;
        width: 480px;
        border-bottom: 1px solid #ececec;
        padding-top: 15px;
        padding-bottom: 15px;
        &__Left {
          float: left;
          margin-top: 5px;
          width: 110px;
          font-size: 10px;
          font-weight: bold;
          color: #b5b5b5;
          float: left;
        }
        .append__category {
          float:left;
          margin-left: -110px;
        }
        select {
          @include RightThird ;
          display: inline-block;
          text-decoration: none;
          border: 1px solid #ececec;
          background: linear-gradient(to bottom, #ffffff 0%,#ececec 100%);
          border-radius: 5px;
          color: #646166;
          padding: 5px 10px;
        }
        .second_line {
          margin-left: 110px;
          width: 190px;
        }
        .select_field {
          margin-left: 110px;
          width: 190px;
          padding-right: 10px;
          text-align: center;
          display: inline-block;
          text-decoration: none;
          border: 1px solid #ececec;
          background: linear-gradient(to bottom, #ffffff 0%, #ececec 100%);
          border-radius: 5px;
          color: #646166;
          padding: 5px 10px;
        }
      }
      &__Brand {
        @include RightBorder;
        &__Left {
          @include RightBox;
        }
        &__Right {
          @include RightThird ;
          @include SubmitBox;
          .select_line {
            @include SelectBox;
            width: 178px;
          }
        }
      }
      &__Size {
        @include RightBorder;
        &__Left {
          @include RightBox;
        }
        &__Right {
          @include RightThird ;
          @include SubmitBox;
          .select_line {
            @include SelectBox;
          }
        }
      }
      &__Status {
        @include RightBorder;
        &__Left {
          @include RightBox;
        }
        &__Right {
          @include RightThird ;
          @include SubmitBox;
          .select_line {
            @include SelectBox;
          }
        }
      }
      &__ShippingFee {
        @include RightBorder;
        &__Left {
          @include RightBox;
        }
        &__Right {
          @include RightThird ;
          @include SubmitBox;
          .select_line {
            @include SelectBox;
          }
        }
      }
      &__ShippingType {
        @include RightBorder;
        &__Left {
          @include RightBox;
        }
        &__Right {
          @include RightThird ;
          @include SubmitBox;
          .select_line {
            @include SelectBox;
          }
        }
      }
      &__ListedArea {
        @include RightBorder;
        &__Left {
          @include RightBox;
        }
        &__Right {
          @include RightThird ;
          @include SubmitBox;
          .select_line {
            @include SelectBox;
          }
        }
      }
      &__ShippingDay {
        @include RightBorder;
        &__Left {
          @include RightBox;
        }
        &__Right {
          @include RightThird ;
          @include SubmitBox;
          .select_line {
            @include SelectBox;
          }
        }
      }
    }
  }
}

.Bottom {
  margin-top: 20px;
  text-align: center;
  .submit {
    display: inline-block;
    height: 45px !important;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #3CCACE;
    border: 1px solid #3CCACE;
    color: #ffffff!important;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none !important;
    line-height: 45px;
    appearance: none;
    text-align: center;
    cursor: pointer;
  }
}