.user-info{
  width: 100%;
  height: calc(100vh - 148px);
  display: flex;
  justify-content: center;
  &__container{
    width: 960px;
    height: 214px;
    &__contents{
      width: 100%;
      height: 100%;
      border: 2px solid #e7e7e7 ;
      &__content{
        display: flex;
        height: 100%;
        width: 100%;
        &__left{
          width: 300px;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          &__image{
            width: 124px;
            height: 124px;
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
              display: block;
              opacity: 0.2;
            }
          }
          &__like-count{
            color: #646166;
            display: flex;
            &__heart{
              font-size: 35px;
              position: absolute;
              bottom: 10px;
              left: 90px;
              border: 2px solid #646166;
              border-radius: 50px;
              padding: 5px;
              background: linear-gradient(#ffffff, #ececec);
            }
            i{
              opacity: 0.7;
            }
            &__counter{
              position: absolute;
              bottom: 20px;
              left: 180px;
            }
          }
        }
        &__right{
          width: calc(100% - 300px);
          height: 100%;
          display: flex;
          flex-direction: column;
          position: relative;
          margin-right: 10px;
          &__top{
            height: 33%;
            width: 100%;
            position: relative;
            &__user-shop{
              font-size: 16px;
              font-weight: bold;
              margin-top: 10px;
            }
            &__user-profile{

              input{
                font-size: 16px;
                position: absolute;
                right: 20px;
                top: 20px;
                text-decoration: none;
                border: 2px solid #e7e7e7;
                border-radius: 6px;
                line-height: 30px;
                padding: 5px 25px;
                color: #646166;
                background: linear-gradient(#ffffff, #ececec);
                font-weight: bold;
                cursor: pointer;
              }
              i{
                color: #5ecee6;
                position: absolute;
                right: 180px;
                top: 34px;
              }
            }
            &__user-name{
              font-size: 12px;
              position: absolute;
              bottom: 12px;
              color: #BBBBBB;
            }
          }
          &__middle{
            height: 33%;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #e7e7e7;
            a{
              border: 2px solid #e7e7e7;
              text-decoration: none;
              color: #646166;
              border-radius: 6px;
              line-height: 30px;
              padding: 0 10px;
              color: #646166;
              background: linear-gradient(#ffffff, #ececec);
              font-weight: bold;
            }
          }
          &__bottom{
            background-color: #ff59c3;
            width: 100%;
            display: flex;
            bottom: 5px;
            position: relative;
              a{
                border: 2px solid #c5c5c5;
                text-decoration: none;
                color: white;
                border-radius: 6px;
                padding: 10px 20px;
                background: linear-gradient(#c5c5c5, #949494);
                font-weight: bold;
                display: block;
                position: absolute;
                right: 5px;
                margin-top: 20px;
            }
            
          }
        }
      }
    }
  }
}
.errors{
  width: 100vw;
  background-color: red;
}